@media screen and (min-width: 0) {
    .destaques__secundario:nth-child(2), .destaques__secundario:nth-child(3), 
    .destaques__secundario:nth-child(4) , .destaques__secundario:nth-child(5) {
        display: none;
        grid-column: none;
        grid-row: none;
    }
}

@media screen and (min-width: 768px) {
    .destaques__secundario:nth-child(2) {
        display: flex;
        background: url('../../img/pubg.jpg') center / cover no-repeat;
        grid-column: 4 / 4;
        grid-row: 1 / 1;
    }
    
    .destaques__secundario:nth-child(3) {
        display: flex;
        background: url('../../img/slack.png') center / cover no-repeat;
        grid-column: 4 / 4;
        grid-row: 2 / 2;
    }
    
    .destaques__secundario:nth-child(4) {
        display: flex;
        background: url('../../img/whatsapp.png') center / cover no-repeat;
        grid-column: 4 / 4;
        grid-row: 3 / 3;
    }
    
    .destaques__secundario:nth-child(5) {
        display: flex;
        background: url('../../img/cs-go.jpg') center / cover no-repeat;
        grid-column: 3 / 3;
        grid-row: 3 / 3;
    }
}