
@media screen and (min-width: 0) {
    .populares__card {
        background: var(--bg-branco-suave);
        display: grid;
        grid-template-areas: 
        "card-imagem"
        "card-corpo";
        grid-template-columns: 100%;
        grid-template-rows: 173px auto;
        margin-bottom: 3rem;
        width: 100%;
    }
}

@media screen and (min-width: 768px) {
    .populares__card {
        grid-template-rows: 173px auto;
        margin-right: 1rem;
        margin-bottom: 3rem;        
        width: calc(50% - 1rem);
    }
    
    .populares__card:last-child {
        margin-right: 0;
        width: 50%;
    }
}

@media screen and (min-width: 992px) {
    .populares__card {
        width: calc(33% - 1rem);
    }
    
    .populares__card:last-child {
        margin-right: 0;
        width: 33%;
    }
}

@media screen and (min-width: 1200px) {
    .populares__card {
        margin-bottom: 0;        
        width: calc(20% - 1rem);
    }
    
    .populares__card:last-child {
        margin-right: 0;
        width: 20%;
    }
}


    